{%extends "_layout.html" %}

{% block content %}
<p class="text-center text-[#888888] my-8">
A series of questions that compare running speed of 2 code snippets. Explanation included.
</p>
<div class="container grid grid-cols-2 gap-5 max-w-2xl mx-auto mt-12">
  <a href="/browse.html" class="p-6 border rounded-lg shadow bg-gray-800 hover:bg-gray-700 border-gray-700 w-full space-y-3">
    <i class="text-xl fa-solid fa-list"></i>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">Browse</h5>
    <p class="mb-3 font-normal text-gray-400">through the list of all {{ questions|length }} questions</p>
  </a>
  <a id="start-btn" href="/" class="p-6 border rounded-lg shadow bg-gray-800 hover:bg-gray-700 border-gray-700 w-full space-y-3">
    <i class="text-xl fa-solid fa-dice"></i>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">Start</h5>
    <p class="mb-3 font-normal text-gray-400">on a random question</p>
  </a>
  <a href="#" class="p-6 border rounded-lg shadow bg-gray-800 hover:bg-gray-700 border-gray-700 w-full space-y-3">
    <i class="text-xl fa-solid fa-puzzle-piece"></i>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">Challenge</h5>
    <p class="mb-3 font-normal text-gray-400">comming soon...</p>
  </a>
</div>

<script>
  (function() {
    const startBtn = document.getElementById("start-btn");
    startBtn.href = "/q/" + qIds[Math.floor(Math.random() * qIds.length)] + ".html";
  })();
</script>
{% endblock %}
