{% extends "_layout.html" %}

{% block title %}
{{ q.title }}
{% endblock %}

{% block animation %}
{% endblock %}

{% block page_title %}
<h1 class="mx-6 mt-12 w-[300px] bg-gradient-to-b bg-clip-text pb-4 text-center text-5xl font-extrabold leading-tight text-transparent from-white to-[#AAAAAA] w-full">
  {{ q.title }}
</h1>
{% endblock %}
{% block content %}

<script>
  let run_once = false;
  function select(choice) {
    if (run_once) {
      return;
    }

    run_once = true;
    let explainBtn = document.getElementById("explain-btn");
    let nextBtn = document.getElementById("next-btn");
    let randomBtn = document.getElementById("random-btn");
    let codes = [document.getElementById("code1"), document.getElementById("code2")];
    let descs = [document.getElementById("desc1"), document.getElementById("desc2")];

    if (choice === {{ q.answer }}) {
      if (!solvedProblems.includes("{{ q.url_id }}")) {
        solvedProblems.push("{{ q.url_id }}");
        localStorage.setItem("solvedProblems", JSON.stringify(solvedProblems));
      }
      codes[choice - 1].classList.add("!border-green-300");
      descs[choice - 1].innerHTML = "Correct! This is {{ q.faster_factor }}x faster";
      descs[choice - 1].classList.add("text-green-700");
      descs[choice - 1].classList.add("font-bold");
      descs[1 - (choice - 1)].innerHTML = "This is slower";
    } else {
      codes[choice - 1].classList.add("!border-red-700");
      descs[choice - 1].innerHTML = "Wrong! This is slower";
      descs[choice - 1].classList.add("text-red-700");
      descs[choice - 1].classList.add("font-bold");
      descs[1 - (choice - 1)].innerHTML = "This is {{ q.faster_factor }}x faster";
    }
    codes[1 - (choice - 1)].classList.remove("hover:border-green-300");

    explainBtn.style.display = "block";
    nextBtn.style.display = "block";
    randomBtn.style.display = "block";
    while (1) {
      let randQId = qIds[Math.floor(Math.random() * qIds.length)];
      if (randQid != "{{ q.url_id }}") {
        randomBtn.href = "/q/" + randQid + ".html";
        break;
      }
    }
  }

  function toggleExplain() {
    let explainMd = document.getElementById("explain-md");
    let explainBtnIco = document.getElementById("explain-btn-ico");
    if (explainMd.style.display == "none") {
      explainMd.style.display = "block";
      explainBtnIco.classList.remove("fa-caret-right");
      explainBtnIco.classList.add("fa-caret-down");
    } else {
      explainMd.style.display = "none";
      explainBtnIco.classList.remove("fa-caret-down");
      explainBtnIco.classList.add("fa-caret-right");
    }
  }
</script>

<div class="px-6 space-y-3">
  <div class="z-10 flex w-full flex-col items-center justify-center gap-6 sm:mx-0 md:mb-0 lg:!translate-y-0 lg:!flex-row">
    <div id="code1" class="relative flex h-full w-full max-w-full flex-col items-center rounded-xl border p-3 bg-black hover:border-green-300">
      <pre class="w-full h-80 text-sm"><code class="language-cpp line-numbers" data-prismjs-copy="Copy">{{ q.code1 }}</code></pre>
      <button onclick="select(1)" id="desc1">^ This is Faster?</button>
    </div>
  
    <div id="code2" class="relative flex h-full w-full max-w-full flex-col items-center rounded-xl border p-3 bg-black hover:border-green-300">
      <pre class="w-full h-80 text-sm"><code class="language-cpp line-numbers" data-prismjs-copy="Copy">{{ q.code2 }}</code></pre>
      <button onclick="select(2)" id="desc2">^ This is Faster?</button>
    </div>
  </div>
  {% if "machine" in q %}
  <p class="text-sm italic">
    * The benchmark is run under <a href="/m/{{ q.machine_url_id }}.html" target="_blank" class="text-blue-500 hover:text-blue-700">{{ q.machine }}</a>.
  </p>
  {% endif %}
  {% if "code_url" in q %}
  <p class="text-sm italic">
    * For the full benchmark code, please refer <a href="{{ q.code_url }}" target="_blank" class="text-blue-500 hover:text-blue-700">here</a>.
  </p>
  {% endif %}

  <div class="flex w-full">
    <button type="button" id="explain-btn" onclick="toggleExplain()" class="py-2.5 pl-3 pr-5 me-2 text-sm font-medium rounded-lg border bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 inline-flex items-center" style="display: none">
      <i id="explain-btn-ico" class="fa-solid fa-caret-right fa-fw mr-2"></i> Show Explanation
    </button>
    <div class="flex flex-1 justify-end">
      <a href="/q/{{ q.next_url_id }}.html" id="random-btn" class="py-2.5 pl-3 pr-5 me-2 text-sm font-medium rounded-lg border bg-green-100 text-black border-gray-600 hover:text-black hover:bg-green-200 inline-flex items-center" style="display: none">
        <i class="fa-solid fa-shuffle fa-fw mr-2"></i> Random Question
      </a>
      <a href="/q/{{ q.next_url_id }}.html" id="next-btn" class="py-2.5 pl-3 pr-5 me-2 text-sm font-medium rounded-lg border bg-green-100 text-black border-gray-600 hover:text-black hover:bg-green-200 inline-flex items-center" style="display: none">
        <i class="fa-solid fa-forward fa-fw mr-2"></i> Next Question
      </a>
    </div>
  </div>

  <div id="explain-md" class="w-full border border-gray-600 rounded-lg px-5 py-3 bg-gray-800" style="display: none">
    <div class="prose prose-sm prose-p:my-2 prose-ul:my-2 prose-code:text-white prose-a:text-blue-500 hover:prose-a:text-blue-700 w-full text-white max-w-none break-words">
      {{ q.explain_md | safe }}
    </div>

    <p class="text-sm italic mt-3">
    * If you disagree on anything, feel free to <a href="https://github.com/hgminh95/fast/pulls" target="_blank" class="text-blue-500 hover:text-blue-500">send a PR</a>, or <a href="https://github.com/hgminh95/fast/issues" target="_blank" class="text-blue-500 hover:text-blue-700">open an issue</a>.
    </p>
  </div>

</div>
{% endblock %}
